<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista Transportistas</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" ></script>
</head>
<body class="container">
<h2>Lista Region</h2>
<a class="btn btn-primary mt-4 mb-4" th:href="@{'/region/new'}">Nuevo Transportista</a>
<form method="post" th:action="@{/region/searchRegion}">
    <input name="SearchField" class="form-control mb-3" type="text" placeholder="Buscar" />
</form>
<div th:if="${msgCreate != null}"  th:text="${msgCreate}" class="alert alert-success" role="alert"></div>
<div th:if="${msgUpdate != null}"  th:text="${msgUpdate}" class="alert alert-success" role="alert"></div>
<div th:if="${msgDelete != null}"  th:text="${msgDelete}" class="alert alert-danger" role="alert"></div>
<div th:if="${msgId != null}"  th:text="${msgId}" class="alert alert-danger" role="alert"></div>
<table class="table table-sm">
    <tr>
        <th>#</th>
        <th>Region ID</th>
        <th>Descripción</th>
        <th></th>
        <th></th>
    </tr>
    <tr th:each="region, info : ${regionList}">
        <td th:text="${info.index + 1}"></td>
        <td th:text="${region.regionid}"></td>
        <td th:text="${region.regiondescription}"></td>
        <td><a class="btn btn-primary" th:href="@{'/region/edit' + '?id=' + ${region.regionid}}">Editar</a></td>
        <td><a class="btn btn-danger" th:href="@{'/region/delete' + '?id=' + ${region.regionid}}">Borrar</a></td>
    </tr>
</table>
</body>
</html>